
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$yellow: yellow;
$red: red;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: black;
  color: yellow;
}

h1 {
  // color: yellow;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  text-align: center;
}

.styled-button {
  padding: 10px;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
  border: 4px solid darken($yellow, 30);
  border-radius: 5px;
  background-color: yellow;
  color: black;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

form {
  border: 2px solid darken($yellow, 30);
  padding: 10px;
  border-radius: 5px;
  .text-input {
    padding: 10px;
    font-family: 'Indie Flower', cursive;
    border: 2px solid darken($yellow, 30);
    border-radius: 5px;
    background-color: lighten($yellow, 30);
    color: black;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 300px;
  }
}

.employees {
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  margin-top: 20px;

  .delete{
    background-color: red;
    padding: 5px;
    color: white;
    border: 1px solid white;
    font-size: 14px;
    display: inline;
    margin-right: 10px;
  }


  p {
    text-align: center;
  }

  .staff-list {
    list-style: none;
    font-family: 'Indie Flower', cursive;
    padding: 5px;

    li {
      font-family: 'Indie Flower', cursive;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}
